[Unit]
Description=Mageia autoinstall at first boot
After=network.target

[Service]
Type=oneshot
# Build by auto_inst
ExecStart=/usr/local/bin/autoinstall-mageia
User={{ MGAADMININS }}
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
