[Unit]
Description=Mageia autoinstall at first boot
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
# Build by auto_inst
# Patch to allow service to always start after network
ExecStartPre={{ MGALOCAL }}/bin/mga-check-network github.com
ExecStart={{ MGALOCAL }}/autoinstall/autoinstall-mageia
User={{ MGAADMININS }}
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
