# /usr/lib/systemd/system/dhcpd.service
[Unit]
Description=DHCPv4 Server Daemon
Documentation=man:dhcpd(8) man:dhcpd.conf(5)
Wants=network-online.target
After=network-online.target
After=time-sync.target

[Service]
Type=notify
Environment=CONFIGFILE=/etc/dhcpd.conf LEASEFILE=/var/lib/dhcpd/dhcpd.leases
EnvironmentFile=-/etc/sysconfig/dhcpd
# Patch to allow dhcpd to always start
ExecStartPre=/bin/bash -c '(while !ping -c1 -w{{ MGADNS1 }} 2>/dev/null; do echo "waiting for network availability..."; sleep 1; done); echo "network up online!"'
ExecStart=/usr/sbin/dhcpd -f -cf $CONFIGFILE -lf $LEASEFILE -user dhcpd -group dhcpd --no-pid $OPTIONS $INTERFACES
StandardError=null

[Install]
WantedBy=multi-user.target
