# 
# Environment variable for autoisnstall-mageia
#

MGAMACHINETYPE={{ item.name }}
MGAMACHINEITF={{ item.ifcfg }}
MGAMACHINEMAC=`ip a show dev $MGAMACHINEITF | grep link/ | awk '{ print $2 }'`
{% for machine in item.nodenames -%}
if [ _"{{ machine.mac }}" = _"$MGAMACHINEMAC" ]; then
MGAMACHINENAME={{ machine.name }}
MGAMACHINEIP={{ machine.ip }}
fi
{% endfor -%}
