allow booting;
allow bootp;
allow unknown-clients;
authoritative;

shared-network mgalan {
# --- default gateway
subnet {{ MGAMACHINEINET }} netmask {{ MGAMACHINEIMASK }} {
	option routers			{{ MGAMACHINEIIP }};
	option subnet-mask		{{ MGAMACHINEIMASK }};

	option domain-name		"{{ MGADOMAIN }}";
	option domain-name-servers	1.1.1.1, ns0.mageia.org, ns1.mageia.org;

#	option time-offset		-5;	# Eastern Standard Time
	option ntp-servers		fr.pool.ntp.org;

    group {
	next-server {{ MGADPLOYIP }};
# In initial DHCP DISCOVER packet, PXE client sets option 93 to its arch.
#    0000 == IA x86 PC (BIOS boot)
#    0006 == x86 EFI boot
#    0007 == x64 EFI boot
  if substring(option vendor-class-identifier, 0, 20) = "PXEClient:Arch:00000" {
    filename "linux.0";
  }

	#host ilomganode1 {
		#hardware ethernet 30:8d:99:b2:f9:21;
		#fixed-address 192.168.8.210;
	#}
	#host ilomganode2 {
		#hardware ethernet 80:30:e0:38:90:42;
		#fixed-address 192.168.8.214;
	#}
	# Mageia DL80 Gen9 LOM 1
	#host mgadploy {
		#hardware ethernet 30:8d:99:b2:f9:23;
		#fixed-address 192.168.26.71;
	#}
{% for item in nodes -%}
{% if item.name != 'system' and item.name != 'dploy' -%}
{% for machine in item.nodenames -%}
	host {{ machine.name }} {
		hardware ethernet {{ machine.dif.mac }};
		fixed-address {{ machine.dif.ip | ansible.utils.ipaddr('address') }};
	}
{% endfor -%}
{% endif -%}
{% endfor -%}
}
}
}
