# 
# Environment variable for autoinstall-mageia
#
MGAMACHINETYPE={{ item.0.name }}
# Here we care about deployment interfaces - only works on the target machine
FOUND=`ip a | grep "{{ item.1.dif.mac }}"`
if [ _"$FOUND" != _"" ]; then
	# we are on the right item.1.nodenames
	MGAMACHINEDMAC="{{ item.1.dif.mac }}"
	MGAMACHINENAME={{ item.1.name }}
	MGAMACHINEDITF={{ item.1.dif.name }}
	MGAMACHINEDIP={{ item.1.dif.ip | ansible.utils.ipaddr('address') }}
	MGAMACHINEDMASK={{ item.1.dif.ip | ansible.utils.ipaddr('netmask') }}
	MGAMACHINEIITF={{ item.1.iif.name }}
	MGAMACHINEIIP={{ item.1.iif.ip | ansible.utils.ipaddr('address') }}
	MGAMACHINEIMASK={{ item.1.iif.ip | ansible.utils.ipaddr('netmask') }}
	MGAMACHINEINET={{ item.1.iif.ip | ansible.utils.ipaddr('network') }}
	MGAMACHINEILOIP={{ item.1.ilo.ip | ansible.utils.ipaddr('address') }}
	MGAMACHINEILOMASK={{ item.1.ilo.ip | ansible.utils.ipaddr('netmask') }}
	MGAMACHINEILONET={{ item.1.ilo.ip | ansible.utils.ipaddr('network') }}
	MGAMACHINEPUBITF={{ item.1.pubif.name }}
	MGAMACHINEPUBIP={{ item.1.pubif.ip | ansible.utils.ipaddr('address') }}
	{% if item.1.pubif.ipv6 is defined -%}
	MGAMACHINEPUBIP6={{ item.1.pubif.ipv6 | ansible.utils.ipv6('address') }}
	{% endif -%}
	MGAMACHINEPUBMASK={{ item.1.pubif.ip | ansible.utils.ipaddr('netmask') }}

	type=`echo $MGAMACHINEPUBITF | cut -c1-4`
	if [ _"$type" = _"bond" ]; then
		# Keep slave interfaces names
		itfs=""
		{% for mac in item.1.pubif.mac -%}
		itfs="$itfs,`ip a | grep -A 0 -B 1 '{{ mac }}' | head -1 | cut -d: -f2`"
		{% endfor -%}
		MGAMACHINEPUBSLAVE=`echo $itfs | sed 's/^,//' | sed 's/ //g'`
	fi

	type=`echo $MGAMACHINEIITF | cut -c1-4`
	if [ _"$type" = _"bond" ]; then
		# Keep slave interfaces names
		itfs=""
		{% for mac in item.1.iif.mac -%}
		itfs="$itfs,`ip a | grep -A 0 -B 1 '{{ mac }}' | head -1 | cut -d: -f2`"
		{% endfor -%}
		MGAMACHINEISLAVE=`echo $itfs | sed 's/^,//' | sed 's/ //g'`
	fi

	# Regenerate this file during postinstall of system
	# or calling install.sh on deployment server which we may not want to reinstall fully
	# Only launched as root or {{ MGAADMININS }}
	LAUNCHUSER=`id -u -n`
	if [ _"$LAUNCHUSER" != _"{{ MGAUSER }}" ]; then
		rm -f {{ MGALOCAL }}/autoinstall/mageia.yml

		cat > {{ MGALOCAL }}/autoinstall/mageia.yml << EOF
MGAMACHINEDMAC: $MGAMACHINEDMAC
MGAMACHINENAME: $MGAMACHINENAME
MGAMACHINEDITF: $MGAMACHINEDITF
MGAMACHINEDIP: $MGAMACHINEDIP
MGAMACHINEDMASK: $MGAMACHINEDMASK
MGAMACHINEIITF: $MGAMACHINEIITF
MGAMACHINEIIP: $MGAMACHINEIIP
MGAMACHINEIMASK: $MGAMACHINEIMASK
MGAMACHINEINET: $MGAMACHINEINET
MGAMACHINEPUBITF: $MGAMACHINEPUBITF
MGAMACHINEPUBIP: $MGAMACHINEPUBIP
MGAMACHINEPUBMASK: $MGAMACHINEPUBMASK
EOF
		if [ _"$MGAMACHINEPUBSLAVE" != _"" ]; then
			cat >> {{ MGALOCAL }}/autoinstall/mageia.yml << EOF
MGAMACHINEPUBSLAVE: $MGAMACHINEPUBSLAVE
EOF
		fi
		if [ _"$MGAMACHINEPUBIP6" != _"" ]; then
			cat >> {{ MGALOCAL }}/autoinstall/mageia.yml << EOF
MGAMACHINEPUBIP6: $MGAMACHINEPUBIP6
EOF
		fi
		if [ _"$MGAMACHINEISLAVE" != _"" ]; then
			cat >> {{ MGALOCAL }}/autoinstall/mageia.yml << EOF
MGAMACHINEISLAVE: $MGAMACHINEISLAVE
EOF
		fi
	fi
fi
MGAHDIR=`grep -E "^{{ MGAADMININS }}" /etc/passwd | cut -d: -f6`
