# The public interface
#
DEVICE={{ MGAMACHINEIITF }}
BOOTPROTO=static
ONBOOT=yes
{% if MGAMACHINEIITF | truncate(4) == "bond" -%}
# We have a bonding interface
BONDING_MASTER=yes
BONDING_OPTS=”mode=4 miimon=100″
{% else -%}
METRIC=10
MII_NOT_SUPPORTED=no
USERCTL=no
# We have a simple interface
{% endif -%}
IPADDR={{ MGAMACHINEIIP }}
NETMASK={{ MGAMACHINEIMASK }}
