# The public interface
#
DEVICE={{ MGAMACHINEIITF }}
BOOTPROTO=static
ONBOOT=yes
{% if MGAMACHINEIITF.startswith('bond') -%}
# We have a bonding interface
TYPE=Bond
BONDING_MASTER=yes
BONDING_OPTS="mode=802.3ad"
{% else -%}
# We have a simple interface
TYPE=Ethernet
METRIC=10
MII_NOT_SUPPORTED=no
USERCTL=no
{% endif -%}
IPADDR={{ MGAMACHINEIIP }}
NETMASK={{ MGAMACHINEIMASK }}
